{% extends 'index.html' %}

{% block body %}
<div>
  <header class="row">
    <h1
      class="columns">
      <a href="/">Flickr Blog</a>
    </h1>
  </header>
  {% if !photosets.length %}
  <div
    class="column">
    <p>Your blog is empty. Did you configured correctly in <a href="/settings">settings</a> ?</p>
  </div>
  {% else %}
  <div
    class="row">
    {% for photoset in photosets %}
    <article
      class="column large-4">
      <h2>
        <a href="{{ photoset.getUrl() }}">
          {{ photoset.title }}
        </a>
      </h2>
      <p>
        <a href="{{ photoset.getUrl() }}">
          <img src="{{ photoset.primary.getSrc('s') }}">
        </a>
      </p>
      <p>
        <time
          datetime="{{ photoset.date_create }}">
          {{ photoset.date_create|date('Y-m-d') }}
        </time>
      </p>
      <div>
        {{ photoset.description | truncate(200) | markdown | raw }}
      </div>
    </article>
    {% endfor %}
  </div>
  <div
    class="row pagination">
    {% if page - 1 > 0 %}
    <div class="column large-4">
      {% if page - 1 == 1 %}
      <a href="/">Previous</a>
      {% else %}
      <a href="/page-{{ +page - 1 }}">Previous</a>
      {% endif %}
    </div>
    {% endif %}
    <div class="column large-4 right">
      {% if page * perPage < count %}
      <a href="/page-{{ +page + 1 }}">Next</a>
      {% endif %}
    </div>
  </div>

    {% endif %}
  </div>
</div>
{% endblock %}
