{% extends 'index.html' %}

{% block foot %}
<script type="text/javascript">
  // Open photoset on clicking anywhere on article block
  (function (els) {
    [].forEach.call(els, function (el) {
      el.addEventListener('click', function (e) {
        e.preventDefault();
        window.location = this.querySelector('a').getAttribute('href');
      });
    });
  })(document.querySelectorAll('article'));
</script>
{% endblock %}

{% block body %}
<div
  class="row">
  <h1
    class="title">
    <a href="/">
      {{ siteTitle }}
    </a>
  </h1>
  {% if !photosets.length %}
  <div
    class="column">
    <p>Your blog is empty. Did you configured correctly in <a href="/settings">settings</a> ?</p>
  </div>
  {% else %}
  <div
    class="row home-photosets">
    {% if page - 1 > 0 %}
    <p
      class="column small-12 previous">
      <a
        href="{% if page - 1 == 0 %}/{% else %}/page-{{ page - 1 }}{% endif %}">Previous</a>
    </p>
    {% endif %}
    {% for photoset in photosets %}
    <article
      class="column small-12 medium-6 large-4 home-photoset">
      <div
        class="cover"
        style="background-image: url('{{ photoset.cover.getSrc('m') }}')"></div>
      <p
        class="home-photoset-date">
        <time
          datetime="{{ photoset.date_create }}">
          {{ photoset.date_create|date('d M') }}
        </time>
      </p>
      <div
        class="home-photoset-description">
        <h2>
          <a href="{{ photoset.getUrl() }}">
            {{ photoset.title }}
          </a>
        </h2>
        <div>
          {{ photoset.description | truncate(200) | markdown | raw }}
        </div>
      </div>
    </article>
    {% endfor %}
    {% if page * perPage < count %}
    <p
      class="column small-12 next">
      <a
        href="/page-{{ +page + 1 }}">Next</a>
    </p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
